/* width & height */
.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.h-50 {
  height: 50px;
}

/* fonts */
.font-bold {
  font-weight: bold;
}

.font-500 {
  font-weight: 500;
}

.font-16 {
  font-size: 16px;
}

.font-30 {
  font-size: 30px;
}

/* padding */
.padding-20 {
  padding: 20px;
}

.padding-0-20 {
  padding: 0 20px;
}

/* flex */
.flex {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-row-between {
  justify-content: space-between;
}

.flex-row-center {
  justify-content: center;
}

.flex-col-center {
  align-items: center;
}

.flex-col-top {
  align-items: flex-start;
}

.flex-row-start {
  justify-content: flex-start;
}

.flex-row-end {
  justify-content: flex-end;
}

.item-class {
  width: 100%;
}

.custom-img {
  width: 80px;
  height: 80px;
}

.custom-row {
  max-height: 60px;
}